<div style="margin: 30px">
    <nav>
        <a routerLink="/basic" routerLinkActive="active">Basic</a> |
        <a routerLink="/change" routerLinkActive="active">Change</a> |
        <a routerLink="/options" routerLinkActive="active">Options</a> |
        <a routerLink="/template" routerLinkActive="active">Template</a> |
        <a routerLink="/dynamic" routerLinkActive="active">Dynamic</a> |
        <a routerLink="/matcher" routerLinkActive="active">Matcher</a> |
        <a routerLink="/multiple" routerLinkActive="active">Multiple</a> |
        <a routerLink="/tags" routerLinkActive="active">Tags</a> |
        <a routerLink="/disabled" routerLinkActive="active">Disabled</a> |
        <a routerLink="/dynamic-options" routerLinkActive="active">Dynamic options</a>
    </nav>
    <hr />
    <router-outlet></router-outlet>
</div>